* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    border-radius: 12px;

    /* border-radius: 12px; */
    text-underline-offset: 3px;

    transition-property: width, height, top, right, bottom, left,
        transform, scale, rotate,
        background-color, color, opacity;
    transition-duration: .5s;
}



/* --- Vars --- */

body {
    /* Non couleurs */
    /* --font: sans-serif; */
    --font: Verdana, Geneva, Tahoma, sans-serif;


    /* Bg, aplats */
    --bg: #fff;
    --bgTop1: #f0f0f0;
    --bgTop2: #e0e0e0;
    --bgTop1Colored: #ecf2fc;

    /* Accent */
    /* --emph: #ff7e72; */
    --emph: #ff6052;
    --emph2: #ffa632;
    --emph3: #008000;

    /* Effects */
    --shadow: #0000001a;

    /* Text default */
    --text: black;
    --textSub1: #5f5f5f;
    --link: #0b57d0;
    /* --linkVisited: initial; */
    --navlink: #0c35ff;

    /* Button default */
    --btnBg: #fff;
    --btnBgHover: #ecf2fc;
    --btnBgActive: #bdd6ff;

    &.dark {
        /* Bg, aplats */
        --bg: #3e3e3e;
        --bgTop1: #505050;
        --bgTop2: #606060;
        --bgTop1Colored: #505050;

        /* Accent */
        --emph: #ff7e72;
        --emph2: #ffa632;

        /* Effects */
        --shadow: #0000001a;

        /* Text default */
        --text: white;
        --textSub1: #c0c0c0;
        --link: #9bc2ff;
        --navlink: #0c35ff;

        /* Button default */
        --btnBg: #505050;
        --btnBgHover: #707070;
        --btnBgActive: #9b9b9b;
    }
}




/* --- Tags default --- */

body,
header,
main,
article,
section {
    border-radius: 0;
}

body {
    min-height: 100vh;

    background-color: var(--bg);
    border-radius: 0;
    overflow-x: hidden;

    display: flex;
    flex-direction: column;

    color: var(--text);
    font-family: var(--font);
}

h1 {
    font-weight: normal;
}

a {
    color: var(--link);
}

button {
    padding: 5px;
    border: none;

    background-color: var(--btnBg);
    border-radius: 12px;
    cursor: pointer;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:hover {
        background-color: var(--btnBgHover);

    }

    &:active {
        background-color: var(--btnBgActive);
        scale: .9;
    }
}



/* --- Classes générales --- */

.charAsIcon {
    line-height: 1;
}



/* --- This app --- */
#app {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

h1 {}



/* --- Animations --- */

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes shake {
    0% {
        transform: skew(-10deg);
    }

    20% {
        transform: skew(10deg);
        transform: rotate(1deg);
    }

    30% {
        transform: skew(-10deg);
        transform: rotate(0deg);
    }

    50% {
        transform: skew(5deg);
    }

    70% {
        transform: skew(-10deg);
        transform: rotate(1deg);
    }

    100% {
        transform: skew(-0deg);
        transform: rotate(0deg);
    }
}